jupyterlab
papyrus-scaffold-visualizer @ git+https://github.com/martin-sicho/papyrus-scaffold-visualizer.git@main
drugex[qsprpred] @ git+https://github.com/CDDLeiden/DrugEx.git@dev
rdkit
umap-learn
xgboost==2.1.3
